/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.black-border {
  border: black 1px solid ;
}

.users-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.user-container {
  display: flex;
  gap: 10px;
  width: 60%;
}

.user-container .user-img {
  width: 20%;
}

.user-container .user-img img {
  width: 100%;
  height: 100%;
}

.link-style {
  text-decoration: none;
  color: black;
}

.user-container .user-overview {
  width: 80%;
  display: flex;
  align-items: center;
  position: relative;
}

.user-container .user-overview h2 {
  margin-left: 20px;
  font-size: 30px;
}

.post-overview span {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.user-container .user-overview span {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.user-bio {
  width: calc(60% - 20px);
  padding: 10px;
}

.user-bio p {
  margin-top: 30px;
}

.post-overview {
  width: calc(60% - 20px);
  padding: 10px;
  position: relative;
}
